@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

main{
    background: linear-gradient(0deg, #004747 17%, rgba(0,122,122,1) 63%, #00b4b3 100%);
    font-family: 'Poppins', sans-serif;
}
h1{
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 2.5rem;
}


/*BOARD TO-BE*/
#board div{
    display: inline-block;
    border-radius: 50%;
    margin-left: 25px;
    border: 1px solid #a3c4c4 ;
    margin-bottom: 25px;
}
.checked div{
    background-color: #00b4b3;
    color: red;
    border: 3px solid red;
}
.numberContainer{
    width: 80px;
    height: 80px;
    background-color: #004747;
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

/*EXTRACTION BTN*/
.extractionBtn{
    text-align: center;
    margin-bottom: 50px;
}
.extractionBtn input{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #004747;
    background-color: white;
    color: #004747;
    box-shadow: 4px 2px 9px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 10px;
}
